/*introdiv*/

/*intro words!!!!!!!!!!!!!!-------------------------------------------------------*/
.intro_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 50vw;
    padding: 0;
    /*background-color: aqua;*/
}

.rw_div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 85px;
    overflow: hidden;
    /*background-color: azure;*/
}

.intro_words{
    font-family: 'deepcolor';
    font-size: 80px;
}

#Better{
    position: relative;
    right: 100px;
    opacity: 0;
}

#life{
    position: relative;
    top: 10px;
}

#web{
    position: relative;
    top: 10px;
}

#idea{
    position: relative;
    top: 10px;
}

#design{
    position: relative;
    top: 10px;
}

#broccoli{
    position: relative;
    top: 10px;
}

/*logo img----------------------------------------------*/
.title_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
}

.title_div_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: bisque;*/
    height: 1.2em;
}

#logo_l{
    display: flex;
    justify-content: end;
    /*background-color:blanchedalmond;*/
}

#logo_l_img{
    width: 80px;
    /*background-color: aquamarine;*/
    translate: -100px;
    opacity: 0;
}

#logo_r{
    display: flex;
    justify-content: start;
    /*background-color:blanchedalmond;*/
}

#logo_r_img{
    width: 100px;
    height: 100px;
    /*background-color: aquamarine;*/
    translate: 100px;
    opacity: 0;
}

/*rwd setting----------------------------------------!!!!!!!!!!!!!!!!!*/
