@media only screen and (max-width: 480px) {
    #notice{
        display: block;
    }
    #Better{
        display: none;
    }
    #life{
        display: none;
    }
    #web{
        display: none;
    }
    #idea{
        display: none;
    }
    #design{
        display: none;
    }
    #broccoli{
        display: none;
    }

    #designer{
        width: 250px;
        margin: 0;
        padding: 0;
    }
    .intro_words{
        font-size: 30px;
    }
    .intro_div{
        display: none;
    }
    .title_div{
        height: 50vh;
        flex-direction: column;
    }
    .slogan_div{
        margin: 0;
    }
    #logo_l{
        display: none;
    }
    #logo_r{
        display: none;
    }
    #b_design{
        font-size: 40px;
    }
    .subtitle{
        font-size: 20px;
    }
    #whenit{
        display: none;
    }
    #matters{
        display: none;
    }
    #humor{
        display: none;
    }
    .pic_preview{
        width: 250px;
        opacity: 1;
        margin: 5px;
    }
    .content_design{
        width: 300px;
    }
    #model_pic{
        width: 220px;
        opacity: 1;
        left: 0;
    }
    .g_sec{
        flex-direction: column;
    }
    .inpic{
        width: 100px;
    }
    .content_div{
        opacity: 1;
        top: 0;
    }
    #sec_self_design{
        opacity: 1;
    }
    .sec_animation{
        flex-direction: column;
    }
    #now_watch{
        left: 0;
        opacity: 1;
    }
    #let_her{
        left: 0;
        opacity: 1;
    }
    #amag{
        left: 0;
        opacity: 1;
    }
    #ani_des{
        left: 0;
        opacity: 1;
    }
    .sec_design{
        flex-direction: column;
    }

}
/* pad setting ---------------------------------------!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .menu_div_outside{
        margin: 0;
        height: 30px;
    }
    #notice{
        display: block;
    }
    #Better{
        display: none;
    }
    #life{
        display: none;
    }
    #web{
        display: none;
    }
    #idea{
        display: none;
    }
    #design{
        display: none;
    }
    #broccoli{
        display: none;
    }

    #designer{
        width: 250px;
        margin: 0;
        padding: 0;
    }
    .intro_words{
        font-size: 30px;
    }
    .intro_div{
        display: none;
    }
    .title_div{
        height: 15vh;
        flex-direction: column;
        margin: 0;
    }
    .slogan_div{
        margin: 0;
    }
    #logo_l{
        display: none;
    }
    #logo_r{
        display: none;
    }
    #b_design{
        font-size: 80px;
    }
    .subtitle{
        font-size: 20px;
    }
    #whenit{
        display: none;
    }
    #matters{
        display: none;
    }
    #humor{
        display: none;
    }
    .pic_preview{
        width: 250px;
        opacity: 1;
        margin: 5px;
    }
    .content_design{
        width: 300px;
    }
    #model_pic{
        width: 220px;
        opacity: 1;
        left: 0;
    }
    .g_sec{
        flex-direction: column;
    }
    .inpic{
        width: 200px;
    }
    .content_div{
        opacity: 1;
        top: 0;
    }
    #sec_self_design{
        opacity: 1;
    }
    .sec_animation{
        flex-direction: column;
    }
    #now_watch{
        left: 0;
        opacity: 1;
    }
    #let_her{
        left: 0;
        opacity: 1;
    }
    #amag{
        left: 0;
        opacity: 1;
    }
    #ani_des{
        left: 0;
        opacity: 1;
    }
    .sec_design{
        flex-direction: column;
    }

}