@keyframes guide_hover {
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0.1;
        transform: translateY(-10px);
    }
}

@keyframes preview_hover {
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(-10px);
    }
}

@keyframes web_hover {
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0.7;
        transform: translateY(-10px);
    }
}


.sec_design{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 200px 0 0 0;
    width: 100%;
}

.design_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content_design{
    width: 500px;
    word-wrap: break-word;
}

.video_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 300px;
    background-color: rgb(214, 214, 214);
    border-radius: 300px;
}
#video_guide{
    width: 300px;
}

#video_guide:hover{
    animation: guide_hover;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.09,.38,.2,1);
    animation-fill-mode: forwards;
}

#watch_video{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-decoration:solid;
}

.sec_animation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.pic_preview{
    width: 300px;
    opacity: 0;
    border-radius: 10px;
    
}

.pic_preview:hover{
    animation: preview_hover;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(.09,.38,.2,1);
    animation-fill-mode: forwards;
}

/*websit intro-----------------------------------------------------*/

#now_watch{
    opacity: 0;
    position: relative;
    left: 100px;
}

#let_her{
    opacity: 0;
    position: relative;
    left: 100px;
}

#amag{
    opacity: 0;
    position: relative;
    left: 100px;
}

#ani_des{
    opacity: 0;
    position: relative;
    top: 50px;
    font-family: Deepcolor;
    font-size: 50px;
    font-weight: 800;
    color: rebeccapurple;
}

/*sec modeling-------------------------------------------*/

#model_pic{
    width: 300px;
    position: relative;
    left: 50px;
    opacity: 0;
    border-radius: 10px;
}

/*sec web-------------------------------------------*/

.webint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.webpic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

.inpic{
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.inpic:hover{
    animation: web_hover;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.08,.46,.18,.99);
    animation-fill-mode: forwards;
}
