@import "preset-styles";
// mixins
@mixin turningBalls($delay) {
    transform-origin: 50% 50%;
    animation: roll 2s infinite;
    animation-delay: $delay;
}

@mixin swingBalls($times){
    transform-origin: 50% 50%;
    animation: swing 0.5s alternate cubic-bezier(.18,.41,.87,1.58);
    animation-iteration-count: $times;
    animation-fill-mode: both;
}

@mixin switchBalls($times){
    transform-origin: 50% 50%;
    animation: switch 0.5s alternate cubic-bezier(.29,.43,.5,1.7);
    animation-iteration-count: $times;
    animation-fill-mode: both;
}

@mixin ballsOrigin {transition: 0.5s; opacity: 0.5;}

@mixin ballsShrink {
    transform-origin: 50% 50%; transform: scale(0.8); opacity: 1;
}

@mixin ballsGrow {
    transform-origin: 50% 50%; transform: scale(1.5); opacity: 1;
}

// infinite turning balls
    .green-b {
        @include turningBalls(0s);
        // Additional styling for .green-b if needed
        @include green-sets;
        .gbd {@include ballsOrigin;}
        .gbl {@include ballsOrigin;}
        &:hover{
            .gbd, .gbl{@include ballsShrink}
        }
    }

    .blue-b {
        @include turningBalls(0.7s);
        // Additional styling for .blue-b if needed
        @include blue-sets;
        .bbd { @include ballsOrigin;}
        .bbl { @include ballsOrigin;}
        &:hover{
            .bbd, .bbl{@include ballsShrink}
        }
    }

    .red-b {
        @include turningBalls(1s);
        // Additional styling for .blue-b if needed
        @include red-sets;
        .rbd { @include ballsOrigin;}
        .rbl { @include ballsOrigin;}
        &:hover{
            .rbd, .rbl{@include ballsShrink}
        }
    }

    .yellow-b {
        @include turningBalls(1.2s);
        // Additional styling for .blue-b if needed
        @include yellow-sets;
        .ybd { @include ballsOrigin;}
        .ybl { @include ballsOrigin;}
        &:hover{
            .ybd, .ybl{@include ballsShrink}
        }
    }

// swing balls
    .green-bs{
        @include green-sets;
        .gbd {@include ballsOrigin;}
        .gbl {@include ballsOrigin;}
        &:hover{
            @include swingBalls(infinite);
            .gbd, .gbl{@include ballsShrink}
        }
    }

// btn balls
    .green-bbtn{
        @include green-sets;
        .gbd {@include ballsOrigin;}
        .gbl {@include ballsOrigin;}
    }

// side line
    .sideLine-up{
        @include green-sets;
        position: fixed;
        bottom: 0px;
        right: 5%;
        .lineUP{
            animation: stick-in-up 1s forwards;
        }
    }

    .sideLine-down{
        @include green-sets;
        position: fixed;
        top: 0px;
        left: 5%;
        .lineDown{
            animation: stick-in-down 1s forwards;
        }
    }