@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat+Alternates:ital,wght@0,100;0,300;0,400;0,900;1,100&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat+Alternates:ital,wght@0,100;0,300;0,400;0,900;1,100&family=Righteous&display=swap");
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes switch {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(0.8);
  }
}
@keyframes stick-in-up {
  0% {
    transform: translateY(1000px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes stick-in-down {
  0% {
    transform: translateY(-1000px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes stretchLine {
  from {
    width: 0vw;
  }
  to {
    width: 20vw;
  }
}
@keyframes open {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(30);
  }
  60% {
    transform: scale(30);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes switch {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(0.8);
  }
}
@keyframes stick-in-up {
  0% {
    transform: translateY(1000px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes stick-in-down {
  0% {
    transform: translateY(-1000px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes stretchLine {
  from {
    width: 0vw;
  }
  to {
    width: 20vw;
  }
}
@keyframes open {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(30);
  }
  60% {
    transform: scale(30);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.green-b {
  transform-origin: 50% 50%;
  animation: roll 2s infinite;
  animation-delay: 0s;
}
.green-b .gbd {
  fill: #49A84C;
}
.green-b .gbl {
  fill: #D0FFCD;
}
.green-b .gbd {
  transition: 0.5s;
  opacity: 0.5;
}
.green-b .gbl {
  transition: 0.5s;
  opacity: 0.5;
}
.green-b:hover .gbd, .green-b:hover .gbl {
  transform-origin: 50% 50%;
  transform: scale(0.8);
  opacity: 1;
}

.blue-b {
  transform-origin: 50% 50%;
  animation: roll 2s infinite;
  animation-delay: 0.7s;
}
.blue-b .bbd {
  fill: #4C86F9;
}
.blue-b .bbl {
  fill: #4CE4F9;
}
.blue-b .bbd {
  transition: 0.5s;
  opacity: 0.5;
}
.blue-b .bbl {
  transition: 0.5s;
  opacity: 0.5;
}
.blue-b:hover .bbd, .blue-b:hover .bbl {
  transform-origin: 50% 50%;
  transform: scale(0.8);
  opacity: 1;
}

.red-b {
  transform-origin: 50% 50%;
  animation: roll 2s infinite;
  animation-delay: 1s;
}
.red-b .rbd {
  fill: #E1422E;
}
.red-b .rbl {
  fill: #E1D5DA;
}
.red-b .rbd {
  transition: 0.5s;
  opacity: 0.5;
}
.red-b .rbl {
  transition: 0.5s;
  opacity: 0.5;
}
.red-b:hover .rbd, .red-b:hover .rbl {
  transform-origin: 50% 50%;
  transform: scale(0.8);
  opacity: 1;
}

.yellow-b {
  transform-origin: 50% 50%;
  animation: roll 2s infinite;
  animation-delay: 1.2s;
}
.yellow-b .ybd {
  fill: #F6BC03;
}
.yellow-b .ybl {
  fill: #F6FFA7;
}
.yellow-b .ybd {
  transition: 0.5s;
  opacity: 0.5;
}
.yellow-b .ybl {
  transition: 0.5s;
  opacity: 0.5;
}
.yellow-b:hover .ybd, .yellow-b:hover .ybl {
  transform-origin: 50% 50%;
  transform: scale(0.8);
  opacity: 1;
}

.green-bs .gbd {
  fill: #49A84C;
}
.green-bs .gbl {
  fill: #D0FFCD;
}
.green-bs .gbd {
  transition: 0.5s;
  opacity: 0.5;
}
.green-bs .gbl {
  transition: 0.5s;
  opacity: 0.5;
}
.green-bs:hover {
  transform-origin: 50% 50%;
  animation: swing 0.5s alternate cubic-bezier(0.18, 0.41, 0.87, 1.58);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.green-bs:hover .gbd, .green-bs:hover .gbl {
  transform-origin: 50% 50%;
  transform: scale(0.8);
  opacity: 1;
}

.green-bbtn .gbd {
  fill: #49A84C;
}
.green-bbtn .gbl {
  fill: #D0FFCD;
}
.green-bbtn .gbd {
  transition: 0.5s;
  opacity: 0.5;
}
.green-bbtn .gbl {
  transition: 0.5s;
  opacity: 0.5;
}

.nav-word {
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
}

.nav-stick {
  fill: #FFFFFF;
  stroke: #49A84C;
  stroke-width: 5;
  stroke-miterlimit: 10;
  z-index: -1;
}

.sideLine-up {
  position: fixed;
  bottom: 0px;
  right: 5%;
}
.sideLine-up .gbd {
  fill: #49A84C;
}
.sideLine-up .gbl {
  fill: #D0FFCD;
}
.sideLine-up .lineUP {
  animation: stick-in-up 1s forwards;
}

.sideLine-down {
  position: fixed;
  top: 0px;
  left: 5%;
}
.sideLine-down .gbd {
  fill: #49A84C;
}
.sideLine-down .gbl {
  fill: #D0FFCD;
}
.sideLine-down .lineDown {
  animation: stick-in-down 1s forwards;
}
.sideLine-down .gBtns {
  cursor: pointer;
}
.sideLine-down .gBtns text a {
  fill: #D0FFCD;
}
@keyframes tagIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(0.9);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.sideLine-down .gBtns .altTags {
  transform: scaleX(0);
  opacity: 0;
}
.sideLine-down .gBtns:hover .altTags {
  animation: tagIn 0.1s forwards;
}

@media screen and (max-width: 480px) {
  .sideLine-up {
    display: none;
  }
  .sideLine-down {
    transform: scale(1.3);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FAF9F9;
}

img {
  width: 100%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 80%;
}

p {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #2A5A32;
  padding: 2%;
}

.btn {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
}
.btn .green-bbtn {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 30%;
  transition: 0.5s;
}
.btn .real-btn {
  grid-column: 1/2;
  grid-row: 1/2;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #FAF9F9, 0 0 25px #D0FFCD, 0 0 5px #2A5A32;
  color: #2A5A32;
  background-color: rgba(250, 249, 249, 0);
  border-style: none;
  z-index: 2;
  cursor: pointer;
}
.btn:hover .green-bbtn {
  width: 80%;
  transform-origin: 50% 50%;
  animation: switch 0.5s alternate cubic-bezier(0.29, 0.43, 0.5, 1.7);
  animation-iteration-count: none;
  animation-fill-mode: both;
  border-radius: 30%;
  z-index: 1;
}
.btn:hover .green-bbtn .gbd, .btn:hover .green-bbtn .gbl {
  transform-origin: 50% 50%;
  transform: scale(1.5);
  opacity: 1;
}
.btn:hover::after {
  content: "Click to learn more!";
  font-family: "Montserrat Alternates", sans-serif;
  padding-left: 10px;
  text-wrap: nowrap;
  color: #FAF9F9;
  width: 100%;
  background-color: #2A5A32;
  animation: stretchLine 0.7s both;
  border-radius: 0 20px 0 0;
}

#outline-banner {
  width: 100vw;
  height: 100vw;
}

#bBanner {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}

#b-h1 {
  grid-column: 3/6;
  grid-row: 1/2;
  font-size: 5rem;
  z-index: 1;
  text-align: center;
  width: 100%;
}

#b-h2 {
  grid-column: 3/6;
  grid-row: 3/4;
  font-size: 5rem;
  z-index: 1;
  text-align: center;
  width: 100%;
}

#svgG {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}

#svgG2 {
  grid-column: 7/8;
  grid-row: 1/2;
  width: 20%;
}

#svgY {
  grid-column: 5/7;
  grid-row: 1/2;
  width: 50%;
}

#svgY2 {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 30%;
}

#svgR {
  grid-column: 2/3;
  grid-row: 4/5;
  width: 50%;
}

#svgR2 {
  grid-column: 7/8;
  grid-row: 2/3;
  width: 90%;
}

#svgB {
  grid-column: 6/7;
  grid-row: 4/5;
  width: 50%;
}

#svgB2 {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
}

#bLogo {
  grid-column: 4/5;
  grid-row: 2/3;
  transform: translateY(-30px) scale(1.6);
  z-index: 2;
  width: 100%;
}

.empatySpace {
  margin-top: 50%;
  margin-bottom: 50%;
  width: 30%;
  aspect-ratio: 1/1;
}

.svgGicon {
  width: 5%;
}

#about #aboutP {
  word-spacing: 0.5em;
  line-height: 2em;
}
#about #aboutP img {
  display: inline;
  width: 50px;
}
#about #slogan {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #2A5A32;
  font-size: 2rem;
  width: 100%;
  display: grid;
  align-self: center;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: repeat(3, 1fr);
}
#about #slogan #whenit {
  font-size: 2rem;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
  width: 100%;
}
#about #slogan #humor {
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  width: 50%;
}
#about #slogan #humor .green-humor {
  fill: #2A5A32;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}
#about #slogan #humor .green {
  fill: #2A5A32;
}
#about #slogan img {
  grid-column: 2/3;
  grid-row: 1/4;
}
#about #slogan #matters {
  font-size: 2rem;
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: left;
}

#design img {
  width: 100%;
  border-radius: 3%;
  box-shadow: 5px 5px 5px #212227;
  opacity: 0.8;
}
#design .content {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  grid-template-rows: auto auto;
}
#design .content img {
  grid-column: 1/2;
  grid-row: 1/3;
}
#design .content p {
  grid-column: 2/3;
  grid-row: 1/2;
  height: -moz-min-content;
  height: min-content;
}
#design .content .btn {
  grid-column: 2/3;
  grid-row: 2/3;
}

#animation {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
#animation p {
  grid-column: 2/3;
  grid-row: 2/3;
}
#animation .section {
  grid-column: 1/2;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 90%;
  aspect-ratio: 16/9;
  overflow: scroll;
  border-radius: 10px;
  margin-left: 10px;
}
#animation .section img {
  width: 100%;
}
#animation .btn {
  grid-column: 2/3;
  grid-row: 3/4;
}

#photography {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
#photography p {
  width: 80%;
}
#photography .section {
  overflow: scroll;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
}

#website #web-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#website #web-btns button {
  margin: 5px;
  border: #2A5A32 solid 5px;
  border-radius: 10px;
  background-color: #FAF9F9;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  width: 20rem;
  aspect-ratio: 2/1;
}
#website #web-btns button span {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  font-size: 1.5rem;
  color: #FAF9F9;
  opacity: 0.3;
  transition: 0.5s;
}
#website #web-btns button img {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  transition: 0.5s;
  border-radius: 10px;
}
#website #web-btns button:hover {
  cursor: pointer;
}
#website #web-btns button:hover p {
  opacity: 1;
}
#website #web-btns button:hover img {
  transform: scale(1.1);
  z-index: 3;
}

footer {
  font-family: "Righteous", sans-serif;
  width: 70%;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #2A5A32;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}
footer svg {
  fill: #2A5A32;
  margin: 20px;
}
footer h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
footer div {
  grid-column: 2/3;
  grid-row: 1/2;
}
footer div div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
}
footer div h4 {
  width: inherit;
}
footer p {
  grid-column: 1/3;
  grid-row: 2/3;
  width: inherit;
}

.opening {
  position: fixed;
  left: -50px;
  top: -50px;
  z-index: 1;
  height: 100px;
  width: 100px;
  animation: open 1s forwards;
}
.opening .gbd {
  fill: #49A84C;
}
.opening .gbl {
  fill: #D0FFCD;
}

.showing {
  animation: show 1s forwards;
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  #about #slogan #whenit,
  #about #slogan #humor,
  #about #slogan #matters {
    font-size: 10px;
  }
  section {
    width: 80%;
  }
  #design {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  #design .content {
    display: flex;
    flex-direction: column;
  }
  #design .content img {
    width: 60vw;
  }
  #animation {
    display: flex;
    flex-direction: column;
  }
  #website #web-btns {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  #website #web-btns button {
    width: 80%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
  }
  .opening {
    position: fixed;
    left: -70px;
    top: -70px;
    z-index: 1;
    height: 100px;
    width: 100px;
    animation: open 1s forwards;
  }
  .opening .gbd {
    fill: #49A84C;
  }
  .opening .gbl {
    fill: #D0FFCD;
  }
}/*# sourceMappingURL=layout-style.css.map */