@import "preset-styles";
@mixin logoIn($delay){
    transform-origin: 50% 50%;
    animation: zoom-in 0.5s cubic-bezier(.33,-0.02,.67,1.28) forwards;
    animation-delay: $delay;
}
// broccoli logo
.broccoli-logo{
    @include green-sets; @include blue-sets; @include red-sets; @include yellow-sets; 

    .b-body, .b-g, .b-b, .b-r, .b-y{opacity: 0;}

    .b-body{@include logoIn(0s);}
    .b-g{@include logoIn(0.1s);}
    .b-b{@include logoIn(0.2s);}
    .b-r{@include logoIn(0.3s);}
    .b-y{@include logoIn(0.4s);}
}